@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$light-black: #222;
$black: #000;
$white: #f5f3f3;
$gray: #888;
$darkblue: #101828;
$darkmint: #1f363d;

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $white;
  font-family: "Poppins", sans-serif;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  @include flexBetween();
  padding: 1rem 5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white;
  border-bottom: 1px solid rgb(207, 207, 207);

  .logo {
    font-weight: 700;
    letter-spacing: -0.2rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: $black;
  }

  .router__link {
    text-decoration: none;
    color: $black;
    padding: 0 1rem;

    font-weight: 500;
  }
}

header nav ul {
  display: flex;

  li {
    list-style-type: none;
  }
}

.contact__button {
  padding: 0.925rem 2rem;
  background-color: $darkmint;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
}

main {
  padding-top: 6rem;
}

.home__main {
  padding: 10rem 5rem 15rem 5rem;
  height: 100vh;
  margin-bottom: 15rem;
  text-align: center;

  h1 {
    margin: 2rem auto 0 auto;
    font-size: 4.3rem;
    line-height: 5rem;
    color: $darkblue;
    max-width: 800px;
    font-weight: 600;
  }

  .techtalk {
    font-weight: 700;
  }

  .home__paragraph {
    color: $darkblue;
    max-width: 700px;
    margin: 2rem auto;
  }
}

.get__started__button {
  @extend .contact__button;
  transition: 200ms;
  background-color: $darkblue;
  border: 2px solid $darkblue;
}

.get__started__button:hover {
  background-color: transparent;
  border: 2px solid $darkblue;
  color: $darkblue;
  font-weight: 500;
  transition: 200ms;
}

// MORE BLOGS

.more__blogs__header__container {
  padding: 0 5rem 3rem 5rem;

  h2 {
    font-size: 3rem;
    color: $light-black;
  }
}

.more__blogs__container {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.more__blogs__links {
  text-decoration: none;
  flex-direction: column;
}

.blog__image {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}

.more__blogs__right {
  .blog__info {
    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.925rem;
    }
  }
}

.category {
  margin-top: 1rem;

  span {
    font-weight: 600;
    font-size: 0.825rem;
    color: $light-black;
  }

  p {
    color: $gray;
  }
}

.blogs__container {
  margin: 2rem 0 5rem 0;
}

.blog__info {
  h2 {
    color: $light-black;
    margin: 1rem 0;
    font-size: 2rem;
  }

  p {
    color: $gray;
  }
}

.author {
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
}

.author__image {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.author__name {
  span {
    margin-left: 1rem;
    display: block;
    color: $gray;

    &:nth-child(1) {
      font-weight: 600;
      color: $black;
    }
  }
}

// LATEST

.latest__container {
  margin: 5rem 0;
}

// BLOGS

.blog__author__container {
  text-align: center;
  flex-direction: column;
  color: $gray;
  margin: 3rem 0;
}

.blog__author {
  margin: 1rem 0;

  .blog__name {
    color: $gray !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
  }

  .blog__date {
    font-size: 0.8rem;
  }
}

.blog__author__image {
  width: 70px !important;
  height: 70px !important;
}

.main__blog {
  margin: 0 5rem 5rem 5rem;

  h1 {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 5rem auto;
    font-size: 1.7rem;
    line-height: 3rem;
  }

  p {
    max-width: 900px;
    font-size: 1.1rem;
    margin: 0 auto;
    color: $gray;
    text-align: justify;
  }

  img {
    margin: 4rem auto;
    width: 75%;

    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.conclusion {
  font-size: 2.5rem;
  padding: 2rem 0;
  margin: 3rem 0;
  border-bottom: 1px solid $gray;
}

.image__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.2rem;
  margin-top: 5rem;
  max-width: 800px;
  margin: 5rem auto 0 auto;

  img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin: 0;
  }
}

.share__container {
  padding: 3rem 0;
  border-top: 1px solid $gray;
  max-width: 800px;
  margin: 5rem auto;

  h3 {
    color: $gray;
  }
}

.share__links {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;

  img {
    width: 18px;
    height: 18px;
  }
}

// NEWSLETTER

.newsletter__container {
  display: flex;
  margin-top: 4rem;
}

.newsletter__left {
  width: 50%;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.newsletter__right {
  background-color: $darkmint;
  color: $white;
  padding: 6rem 7rem 5rem 6rem;

  h2 {
    font-size: 2.8rem;
    max-width: 400px;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  p {
  }
}

.newsletter__input__container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  position: relative;

  .email__input {
    padding: 0.825rem 0 0.825rem 1rem;
    border-radius: 5px;
    border: 1px solid $white;
    outline: none;
    background-color: transparent;
    color: $white;

    &::placeholder {
      font-weight: 600;
      color: $white;
    }
  }

  .subscribe__button {
    @extend .contact__button;
    background-color: $white;
    color: $light-black;
    font-weight: 500;

    &:hover {
      background-color: $darkblue;
      color: $white;
    }
  }
}

// FOOTER

.footer__container {
  background-color: $darkblue;
}

.top__footer__container {
  @include flexBetween();
  padding: 4rem 5rem 2rem 5rem;
  border-bottom: 1px solid $gray;

  h2 {
    color: $white;
    font-weight: 700;
    letter-spacing: -0.2rem;
    font-size: 1.8rem;
    text-decoration: none;
  }

  .left__footer {
  }
}

footer nav ul {
  display: flex;

  li {
    list-style-type: none;
  }

  .router__link {
    text-decoration: none;
    padding: 0 1rem;
    color: $white;
  }
}

.right__footer {
}

footer .share__links {
  margin: 0;
  a {
    background-color: $darkmint;
    border-radius: 50%;
    padding: 0.6rem;

    img {
      filter: invert(1);
    }
  }
}

.bottom__footer__container {
  text-align: center;
  color: $gray;
  padding: 3rem 0;
}
