@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$light-black: #222;
$black: #000;
$white: #eee8e8;
$gray: #888;
$darkblue: #101828;
$orange: rgb(255, 94, 0);

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $white;
  font-family: "Poppins", sans-serif !important;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2,
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700 !important;
}

ul {
  margin-bottom: 0;
}

header {
  @include flexBetween();
  padding: 0.7rem 5rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 999;

  .router__link {
    text-decoration: none;
    color: $light-black;
    padding: 0 1rem;
    font-size: 0.925rem;
    font-weight: 500;
  }
}

.logo__img {
  width: 100%;
  height: 50px;
  filter: invert(1);
}

header nav ul {
  display: flex;
  margin: 0;

  li {
    list-style-type: none;
  }
}

// MAIN

main {
  padding-top: 6rem;
  margin: 0 auto;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

.home__main {
  padding: 5rem 5rem 15rem 5rem;
  height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1543269664-7eef42226a21?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center;
  background-size: cover;
  margin-bottom: 5rem;
  text-align: center;

  h1 {
    margin: 2rem auto 0 auto;
    font-size: 4.3rem;
    line-height: 5rem;
    color: $white;
    max-width: 800px;
    font-weight: 600;
  }

  .techtalk {
    font-weight: 700;
  }

  .home__paragraph {
    color: $white;
    max-width: 700px;
    margin: 2rem auto;
  }
}

.contact__button {
  padding: 0.725rem 1.8rem;
  background-color: $white;
  color: $light-black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 200ms;
}

.get__started__button {
  @extend .contact__button;
  transition: 200ms;
}

.get__started__button:hover,
.contact__button:hover {
  background-color: $darkblue;
  color: $white;
  font-weight: 500;
  transition: 200ms;
}

.home__buttons__container {
  @include flexBetween();
  justify-content: center;
  gap: 1rem;
}

// MORE BLOGS

.more__blogs__header__container {
  padding: 0 5rem 3rem 5rem;
  max-width: 1440px;
  margin: 0 auto;

  h2 {
    font-size: 3rem;
    color: $light-black;
  }
}

.more__blogs__container {
  padding: 0 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.more__blogs__links {
  text-decoration: none;
  flex-direction: column;
}

.blog__image {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}

.more__blogs__right {
  .blog__info {
    h2 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.925rem;
    }
  }
}

.category {
  margin-top: 1rem;

  span {
    font-weight: 600;
    font-size: 0.825rem;
    color: $light-black;
  }

  p {
    color: $gray;
  }
}

.blogs__container {
  margin: 2rem 0 5rem 0;
}

.blog__info {
  h2 {
    color: $light-black;
    margin: 1rem 0;
    font-size: 2rem;
  }

  p {
    color: $gray;
  }
}

.author {
  margin: 2rem 0 0 0;
  @include flexBetween();
}

.author__image {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.author__name {
  background-color: rgba(187, 185, 185, 0.274);
  border-radius: 20px;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    color: $gray;
    font-size: 0.825rem;

    &:nth-child(1) {
      font-weight: 600;

      color: $black;
    }

    &:nth-child(2) {
      width: 6px;
      display: block;
      height: 6px;
      border-radius: 50%;
      background-color: $orange;
    }
  }
}

// LATEST

.latest__main {
  padding: 0;
}

.latest__container {
  margin: 5rem 0;
}

// BLOGS

.blog__author__container {
  text-align: center;
  flex-direction: column;
  color: $gray;
  margin: 3rem 0;
}

.blog__author {
  margin: 1rem 0;

  .blog__name {
    color: $gray !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
  }

  .blog__date {
    font-size: 0.8rem;
  }
}

.blog__author__image {
  width: 70px !important;
  height: 70px !important;
}

.main__blog {
  margin: 0 5rem 5rem 5rem;

  h1 {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 5rem auto;
    font-size: 1.7rem;
    line-height: 3rem;
  }

  p {
    max-width: 900px;
    font-size: 1.1rem;
    margin: 0 auto;
    color: $gray;
    text-align: justify;
  }

  img {
    margin: 4rem auto;
    width: 75%;

    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.conclusion {
  font-size: 2.5rem;
  padding: 2rem 0;
  margin: 3rem 0;
  border-bottom: 1px solid $gray;
}

.share__container {
  padding: 3rem 0;
  border-top: 1px solid $gray;
  max-width: 900px;
  margin: 5rem auto;

  h3 {
    color: $gray;
    font-size: 1.2rem;
  }

  a {
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.share__links {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;

  img {
    width: 18px;
    height: 18px;
  }
}

// PARTNERS

.partners__container {
  padding: 5rem;
  @include flexBetween();
  flex-direction: column;
  gap: 3rem;
  border-top: 1px solid rgba(128, 128, 128, 0.377);
}

.partners {
  display: flex;
  gap: 3rem;
  background-color: white;
  padding: 0.8rem;
  margin-top: 4rem;
}

.partners__choose {
  text-align: center;

  h2 {
    font-size: 3rem;
    color: $darkblue;
    margin-bottom: 2rem;
  }

  p {
    max-width: 800px;
    margin: 0 auto;
    color: $gray;
  }
}

.partners__numbers__container {
  text-align: center;
  @include flexBetween();
  gap: 5rem;

  h3 {
    font-size: 4rem;
    font-weight: 600;
    color: $darkblue;
  }

  span {
    color: $gray;
  }
}

// NEWSLETTER

.newsletter__container {
  display: flex;
  margin-top: 4rem;
}

.newsletter__left {
  width: 50%;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.newsletter__right {
  background-color: $darkblue;
  color: $white;
  padding: 6rem 7rem 5rem 6rem;

  h2 {
    font-size: 2.8rem;
    max-width: 400px;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}

.newsletter__input__container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  position: relative;

  .email__input {
    padding: 0.825rem 0 0.825rem 1rem;
    border-radius: 5px;
    border: 1px solid $white;
    outline: none;
    background-color: transparent;
    color: $white;

    &::placeholder {
      font-weight: 600;
      color: $white;
    }
  }

  .subscribe__button {
    @extend .contact__button;
    background-color: $white;
    color: $light-black;
    font-weight: 500;

    &:hover {
      background-color: $darkblue;
      color: $white;
    }
  }
}

// ABOUT

.about {
  padding: 5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.about__container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

.weare__container h2 {
  font-size: 3.5rem;
  max-width: 700px;
  font-weight: 600;
}

.weare__container p {
  margin: 2rem 0;
  max-width: 550px;
  color: $gray;
}

.weare__images__container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 400px;

  img {
    width: 250px;
    height: 300px;
    object-fit: cover;
  }
}

.weare__images__container img:nth-child(1) {
  align-self: flex-end;
}

.weare__images__container img:nth-child(2) {
  align-self: flex-start;
}

.weare__images__container img:nth-child(4) {
  align-self: flex-end;
}

.weare__images__container img:nth-child(5) {
  align-self: flex-start;
}

.left__about {
  h2 {
    font-size: 3rem;
  }
  p {
    margin: 2rem 0;
    max-width: 500px;
    color: $gray;
  }
}

.right__about {
  width: 40%;
}

.about__button__container {
  margin-top: 3rem;

  .about__started__button {
    text-decoration: none;
    @extend .get__started__button;
    color: $white;
    background-color: $darkblue;
    margin-top: 3rem;
  }
}
// CAROUSEL

.carousel {
  width: 400px !important;
}

.carousel-caption {
  width: 100%;
  right: 0 !important;
  left: 0 !important;
  bottom: 0;
  background-color: #10182894;
  padding: 1rem 0.5rem;
}

.carousel-item {
  img {
    height: 400px;
    object-fit: cover;
  }
}
.team__members__container {
  margin-top: 5rem;
}

// FOOTER

.footer__container {
  background-color: $darkblue;
}

.top__footer__container {
  @include flexBetween();
  align-items: center;
  padding: 3rem 5rem 2rem 5rem;
  border-bottom: 1px solid $gray;

  h2 {
    color: $white;
    font-weight: 700;
    letter-spacing: -0.2rem;
    font-size: 1.8rem;
    text-decoration: none;
  }

  .left__footer {
  }
}

footer nav ul {
  display: flex;

  li {
    list-style-type: none;
  }

  .router__link {
    text-decoration: none;
    padding: 0 1rem;
    color: $white;
  }
}

footer .share__links {
  margin: 0;
  a {
    background-color: $darkblue;
    border-radius: 50%;
    padding: 0 0.4rem;

    img {
      filter: invert(1);
    }
  }
}

.bottom__footer__container {
  text-align: center;
  color: $gray;
  padding: 3rem 0;
}
